{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
  Добро пожаловать {{ user }}!
{% else %}
    {% if sended %}
    <p>На ваш адрес электронной почты выслана ссылка для входа. Пройдите по ссылке в письме, чтобы войти на сайт.</p>
    <p>В случае проблем напишите письмо по адресу: {{ SERVER_EMAIL }}</p>
    {% else %}
     <div id="login_form_div">
       <p class="indent">Для входа или регистрации введите адрес вашей электронной почты:</p>
       <form id="login_form" action="" method="post">{% csrf_token %}
	 <p>{{ form.email|safe }} <input id="id_login" type="submit" value=" Войти / Зарегистрироваться " /></p>
       </form>
     </div>
     <p class="indent">
       Вход и регистрация на нашем сайте ничем не отличаются. Для того, чтобы войти (или зарегистрироваться) введите адрес вашей электронной почты.
       Мы пришлём ссылку для входа на сайт. Каждый раз, когда вам нужно будет войти, мы будем присылать письмо с одноразовой ссылкой для входа.
     </p>
     <p class="indent">
       Таким способом, вам не нужно будет запоминать/хранить пароль от нашего сайта, беспокоится что его украдут и т.д. вам достаточно не потерять доступ к электронной почте.
     </p>

    {% endif %}
{% endif %}
<p class="indent">&nbsp;</p>
<p class="indent">&nbsp;</p>
<p class="indent">&nbsp;</p>
<p class="indent">&nbsp;</p>
{% endblock %}
